.one {
            background: linear-gradient(to right, #ffffff, #f8e1ff);
            padding: 80px 0;
        }
        .img {
            width: 100%;
            border-radius: 20px;
            box-shadow: 0px 5px 30px rgba(0,0,0,0.1);
        }
        .box {
            background: #f5e8ff;
            border-radius: 10px;
            padding: 20px;
            text-align: center;
        }